services:
  f1:
    build:
      context: .
      args:
        DATASET_NAME: rel-f1
    container_name: neo4j-rel-f1
    environment:
      NEO4J_AUTH: "neo4j/neo4jneo4j"
      NEO4J_ACCEPT_LICENSE_AGREEMENT: "yes"
      NEO4J_dbms_logs_debug_level: "INFO"
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - neo4j_f1_data:/data
      - neo4j_f1_logs:/logs
    tty: true
    stdin_open: true
    profiles: ["f1"]

  stack:
    build:
      context: .
      args:
        DATASET_NAME: rel-stack
    container_name: neo4j-rel-stack
    environment:
      NEO4J_AUTH: "neo4j/neo4jneo4j"
      NEO4J_ACCEPT_LICENSE_AGREEMENT: "yes"
      NEO4J_dbms_logs_debug_level: "INFO"
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - neo4j_stack_data:/data
      - neo4j_stack_logs:/logs
    tty: true
    stdin_open: true
    profiles: ["stack"]

  trial:
    build:
      context: .
      args:
        DATASET_NAME: rel-trial
    container_name: neo4j-rel-trial
    environment:
      NEO4J_AUTH: "neo4j/neo4jneo4j"
      NEO4J_ACCEPT_LICENSE_AGREEMENT: "yes"
      NEO4J_dbms_logs_debug_level: "INFO"
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - neo4j_trial_data:/data
      - neo4j_trial_logs:/logs
    tty: true
    stdin_open: true
    profiles: ["trial"]

volumes:
  neo4j_f1_data:
  neo4j_f1_logs:
  neo4j_stack_data:
  neo4j_stack_logs:
  neo4j_trial_data:
  neo4j_trial_logs: